<form action="/tweets/edit/{{tweet._id}}/{{tweet.title}}" method="POST">
  <h3>Edit tweet</h3>
  <div class="form-group has-warning has-feedback">
    <label for="title">Title:</label>
    <br/>
    <input class="form-control" id="title" type="text" name="title" value="{{tweet.title}}"/>
    <span class="glyphicon glyphicon-warning-sign form-control-feedback"></span>
  </div>
  <br/>
  <br/>
  <div class="form-group has-warning has-feedback">
    <label for="message">Message:</label>
    <br/>
    <textarea class="form-control" id="message" type="text" name="message">{{tweet.message}}</textarea>
    <span class="glyphicon glyphicon-warning-sign form-control-feedback"></span>
    <div/>
    <br/>
    <p><b>Posted by:</b> <i>{{tweet.creator.username}}</i></p>
    <br/>
    <br/>
    <input class="btn btn-warning" type="submit" value="Edit"/>
    <br/>
  </div>
</form>